@model WebDemo.Models.GatewaysViewModel

@{
    ViewBag.Title = "Microsoft Visual Media Hub";
}

<br />
<form action="" method="post" enctype="multipart/form-data">
    Paste image URL: 
    <input type="text" name="imageUrl" id="imageUrl", value="@ViewBag.ImageUrl" style="width: 400px" />
    <br />
    Or
    <br/>
    <input type="file" name="file" id="file", value="@ViewBag."/>
    <br />
    Classifier: @Html.DropDownListFor(x => x.SelectedClassifier, Model.Classifiers, "-- Select Classifier --")
    <br />
    <br />
    <input type="submit" />
</form>

<hr>

@if (ViewBag.ImageData != null)
{
    var imageUrl = "data:image/jpeg;base64," + Convert.ToBase64String(ViewBag.ImageData, 0, ViewBag.imageData.Length);
    <img src="@imageUrl" style="max-height:400px" />
}
else if (ViewBag.ImageUrl != null)
{
    var imageUrl = ViewBag.ImageUrl;
    <img src = "@imageUrl" style = "max-height:400px"/>
}

<h3>Result</h3>

@if (ViewBag.RecogResult != null)
{
    <table>
        <tr>
            <th></th>
            <th>EntityImage</th>
            <th>EntityName</th>
            <th>Confidence</th>
        </tr>
        @{ int cnt = 0; }
        @foreach (var face in ViewBag.RecogResult)
        {
            foreach (var entity in face.CategoryResult)
            {
                if (entity.Confidence > 0.8)
                {
                    var aux = entity.AuxResult.Split('\t');
                    <tr>
                        <td><strong>Face @cnt</strong></td>
                        <td><img src="@aux[1]" height="120" /></td>
                        <td><a href="http://knowledge.microsoft.com/@aux[0]"><strong>@entity.CategoryName</strong></a></td>
                        @*<td>@result.SatoriId</td>*@
                        <td>@entity.Confidence.ToString("F3")</td>
                    </tr>
                }
            }
            cnt++;
        }
    </table>
}
<br /><br />
<p>@ViewBag.ResultString</p>
